.menu {
  padding: 10px;
}

.ImgContainer .Envolved {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.ImgContainer .Envolved .Img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

@media only screen
and (min-width: 320px)
and (max-width: 360px){
  .menu {
    width: 100px;
    height: 100px;
  }
}
@media only screen
and (min-width: 360px)
and (max-width: 420px){
  .menu {
    width: 150px;
    height: 150px;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
  .menu {
    width: 150px;
    height: 150px;
  }
}
@media only screen
and (min-width: 1024px)
{
  .menu {
    width: 150px;
    height: 150px;
  }
}

/* PAssenger */
@media only screen
and (min-width: 320px)
and (max-width: 360px){
  .passenger-img {
    width: 60px;
    height: 60px;
  }
}
@media only screen
and (min-width: 361px)
and (max-width: 600px){
  .passenger-img {
    width: 60px;
    height: 60px;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
  .passenger-img {
    width: 75px;
    height: 75px;
  }
}
@media only screen
and (min-width: 1024px)
{
  .passenger-img {
    width: 75px;
    height: 75px;
  }
}

/* Profile */
@media only screen
and (min-width: 320px)
and (max-width: 360px){
  .profile-img {
    width: 100px;
    height: 100px;
  }
}
@media only screen
and (min-width: 361px)
and (max-width: 600px){
  .profile-img {
    width: 100px;
    height: 100px;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
  .profile-img {
    width: 120px;
    height: 120px;
  }
}
@media only screen
and (min-width: 1024px)
{
  .profile-img {
    width: 120px;
    height: 120px;
  }
}

/* Vehicle detail */
@media only screen
and (min-width: 320px)
and (max-width: 360px){
  .detail-vehicle-img {
    width: 150px;
    height: 150px;
  }
}
@media only screen
and (min-width: 361px)
and (max-width: 600px){
  .detail-vehicle-img {
    width: 150px;
    height: 150px;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
  .detail-vehicle-img {
    width: 200px;
    height: 200px;
  }
}
@media only screen
and (min-width: 1024px)
{
  .detail-vehicle-img {
    width: 200px;
    height: 200px;
  }
}