.grid-container-vehicle {
  padding: 8px;
  display: grid;
  grid-template-areas:
    "fotoVehiculo marca modelo"
    "fotoVehiculo color placa";
}

.grid-container-vehicle > div {
  background-color: rgba(#2196f3, 0.4);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.fotoVehiculo {
  grid-area: fotoVehiculo;
  border-radius: 50%;
  background-color: #dddbdb;
  background-image: url("../../assets/images/user-car.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 117.97px;
  height: 120px;
  justify-self: center;
}

.marca {
  grid-area: marca;
}

.modelo {
  grid-area: modelo;
}

.color {
  grid-area: color;
}

.placa {
  grid-area: placa;
}

.marca,
.modelo,
.color,
.placa {
  font-style: normal;
  font-weight: bold;
}

.marca span,
.modelo span,
.color span,
.placa span {
  font-weight: normal;
}
