.Button {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 8vh;
  font-size: 2.4vh;
  letter-spacing: 0.6px;
}

.yellow-btn {
  background: #ffd302;
  color: #1e2172;
}

.yellow-btn:hover {
  background: #fff700;
}

.blue-btn {
  background: #1e2172;
  color: #ffffff;
}
.red-btn {
  background: red;
  color: #ffffff;
}

@media (max-width: 768px) {
  .Button {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .Button {
    width: 350px;
  }
}

@media (max-width: 320px) {
  .Button {
    width: 300px;
  }
}
