.FormLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 35vw;
  min-height: 70vh;
  height: 80vh;
  background: rgba(30, 33, 114, 0.6);
  border-radius: 20px;
}

.Form {
  width: auto;
  display: flex;
  flex-direction: column;
}

.forgotPassword {
  display: block;
  color: white;
  margin-top: 16px;
  text-align: right;
  margin-right: 20px;
  font-size: 2.5vh;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 1;
}

.Logo {
  height: 20vh;
}

.msg-footer p {
  font-size: 2.5vh;
  color: #ffffff;
}

.msg-footer a {
  text-decoration: none;
}

.msg-footer span {
  color: #ffd302;
  font-weight: bold;
}

.Container-Img {
  margin: 2vh 0;
}

.error-container {
  display: flex;
  height: auto;
  margin-bottom: 8px;;
}
.error {
  color: red;
  font-size: 12px
}
@media (max-width : 1024px){
  .FormLogin{
    width: 40vw;
    left: 12%;
  }
}

@media (max-width: 768px) {
  .FormLogin {
    width: 50vw;
    left: 25%;
  }
}

@media (max-width: 425px) {
  .FormLogin {
    background: transparent;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    height: 100%;
  }

  .Container-Img {
    margin-top: 20px;
  }

  .FormLogin .Form {
    margin-top: 120px;
  }

  .forgotPassword {
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .FormLogin .Form {
    margin-top: 100px;
  }
  .Container-Img {
    margin-top: 20px;
  }
  .Logo {
    height: 100px;
  }

  .Form {
    display: flex;
    align-items: center;
  }

  .tlf,
  .email,
  .password {
    width: 250px;
    height: 45px;
  }

  .blue-btn,
  .yellow-btn {
    width: 250px;
    height: 45px;
  }
  .forgotPassword {
    margin-bottom: 0;
  }
}
