.OfferRequestRide {
  height: 100%;
  width: 100%;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.OfferRequest {
  height: 75%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Recommendations {
  height: 25%;
  background-color: #e5e5e5;
  justify-content: center;
}

.RequestButton,
.OfferButton {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border-color: #171956;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 76%;
  width: 50%;
  border-top-style: solid;
  border-top-width: 115px;
}

.RequestButton {
  background: url("../../assets/images/autostop.jpg");
  background-size: cover;
}

.OfferButton {
  background: url("../../assets/images/navigation.jpg");
  background-size: cover;
}

.Mensaje {
  font-weight: bold;
  font-size: 140%;
  margin-left: 5%;
  text-align: center;
  color: white;
}

@media (max-width: 1024px) {
  .OfferRequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .RequestButton,
  .OfferButton {
    height: 357px;
    width: 408px;
  }
}

@media (max-width: 768px) {
  .OfferRequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .RequestButton,
  .OfferButton {
    height: 36%;
    width: 89%;
    background: white;
    border-top-width: 50px;
  }

  .Mensaje {
    font-weight: bold;
    font-size: 105%;
    margin-left: 5%;
    text-align: center;
    color: black;
  }
}
