.App{
  font-family: 'Roboto', sans-serif;
}
.HomePage {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

#Content-Prin{
   height: 100%;
}


#Content-Sec{
  display: flex;
  height: auto;
}

.Top {
  display: flex;
  flex-direction: row;
  background: #171956;
  position: sticky;
  align-items: center;
  align-content: center;
  height: 17%;
}

.TopOption {
  display: none;
}

.TopLogo {
  background-color: #171956;
  width: 100%;
  height: 100%;
}

.HomeLogo {
  margin-top: 0.5%;
  height: 60px;
}

.Conten-Sec {
  height: 90%;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  background: #1e2172;
  width: 20%;
  height: 100%;
}

.HideOption {
  display: none;
}

.ProfilePicture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.Username {
  margin-bottom: 0;
  color: white;
  height: 34px;
}

.Carnet {
  margin-top: 0;
  color: #ffd302;
}

.Options {
  font-size: 3vh;
  align-self: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  align-items: center;
}

.Options:hover {
  background: #ffd302;
  color: #000;
}

.Options span{
  margin: 0 20px; 
}

.Options i{
  font-size: 25px;
}

a:hover{
  text-decoration: none;
}

.Main {
  width: 80%;
  align-content: center;
  background: #F8F8F8;
}

@media (max-width: 1440px) {
  .Top {
    height: 10%;
  }
}

@media (max-width: 768px) {

  .Top {
    display: flex;
    flex-direction: row;
    background: #171956;
    position: sticky;
    align-items: center;
    height: 12%;
  }

  .TopOption {
    width: 20%;
    height: 100%;
    display: flex;
  }

  .OptionButton {
    height: 100%;
    width: 100%;
    background-color: #171956;
    border-color: #171956;
    border: none;
  }

  .OptionList {
    width: 75%;
  }

  .TopLogo {
    background-color: #171956;
    width: 80%;
    height: 100%;
  }

  .HomeLogo {
    margin-top: 0.5%;
    height: 90%;
    margin-right: 20%;
  }
  .Sidebar {
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .HideOption {
    display: flex;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5vh;
    margin-left: 50px;
  }

  .Main {
    width: 100%;
    transition: margin-left 0.5s;
  }
}
