.rateRide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  align-items: center;
}

.rateMessage {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cartaMessage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 2px #888888;
}

.rate {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rateImages,
.rateButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rateImages {
  height: 65%;
}

.rateButtons {
  height: 35%;
}

.rateEnvolve {
  height: 220px;
  width: 220px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showImage {
  width: 200px;
  height: 200px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likeButton,
.dislikeButton,
.finalizarButton {
  width: 325px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.likeButton {
  background: #4caf50;
}

.dislikeButton {
  background: #d32f2f;
}

.finalizarButton {
  background: #1e2172;
}

.rateImage {
  height: 120px;
  width: 120px;
}

.finalizarRate {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#finalizarButton {
  width: 100%;
}

@media (max-width: 768px) {
  .rateButtons {
    flex-direction: column;
  }

  .likeButton,
  .dislikeButton {
    width: 100%;
  }
}
