.rateRide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 20px;
  align-items: center;
}

.rateMessage {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cartaMessage {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 2px #888888;
}

.rate {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rateImages,
.rateButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rateImages {
  height: 60%;
}

.rateButtons {
  height: 40%;
}

.like,
.dislike {
  background: #4caf50;
  width: 200px;
  height: 200px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likeButton,
.dislikeButton,
.finalizarButton {
  width: 325px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.like,
.dislike {
  background: white;
}

.likeButton {
  background: #4caf50;
}

.dislikeButton {
  background: #d32f2f;
}

.finalizarButton {
  background: #1e2172;
}

.rateImage {
  height: 150px;
  width: 200px;
}

.finalizarRate {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#finalizarButton {
  width: 100%;
}
