.offer-request-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.pidecola-message {
  background-color: #ffc107;
  color: white;
  width: inherit;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin-top: 1cm;
  text-shadow: 0 0 1.5px black, 0 0 1.5px black, 0 0 1.5px black,
    0 0 1.5px black;
  box-shadow: 0px 0px 2px #888888;
}

.carta {
  box-shadow: 0px 2px 4px #888888;
  border-radius: 5px;
  position: relative;
  width: inherit;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
}

.carta p {
  margin: 0;
}

.carta .separador {
  border-bottom: 1px groove rgba(136, 136, 136, 0.2);
}

.carta label {
  margin: 0;
  width: 25%;
  padding: 8px;
}

.carta select {
  width: 75%;
  padding: 8px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  background-color: transparent;
  border: 0;
}

.SearchButton,
.WaitButton {
  width: inherit;
  padding: 12px 0;
  color: white;
  background: #171956;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
