.FormRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 35vw;
  min-height: 70vh;
  height: 88vh;
  background: rgba(30, 33, 114, 0.6);
  border-radius: 20px;
}

.Form {
  width: auto;
  display: flex;
  flex-direction: column;
}

.forgotPassword {
  display: block;
  color: white;
  margin-top: 16px;
  text-align: right;
  margin-right: 20px;
  font-size: 2.5vh;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 1;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 1;
}

.Logo {
  height: 20vh;
}

.logoUSBmobile,
.logoFCEmobile {
  display: none;
}

.responseError {
  color: white;
  background-color: #ff5252;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500;
}

.msg-footer p {
  font-size: 2.5vh;
  color: #ffffff;
}

.msg-footer a {
  text-decoration: none;
}

.msg-footer span {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ffd302;
  font-weight: bold;
}

.Container-Img {
  margin: 2vh 0;
}

.ErrorMessage {
  font-size: 12px;
  font-weight: bold;
  color: red;
  text-align: right;
  margin-right: 22px;
}

.ErrorMessage p {
  margin-bottom: 5px;
}

.Msg-Valid {
  font-size: 17px;
  width: 30vw;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 1366px) {
  .FormRegister {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .FormRegister {
    width: 40%;
    left: 12%;
  }
}

@media (max-width: 768px) {
  .FormRegister {
    width: 50vw;
    left: 25%;
  }
}

@media (max-width: 425px) {
  .FormRegister {
    background: transparent;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    height: 100%;
  }

  .Container-Img {
    margin-top: 20px;
  }

  .FormRegister .Form {
    margin-top: 120px;
  }

  .forgotPassword {
    margin-right: 0;
    text-align: center;
  }

  .logoUSBmobile {
    display: flex;
    float: left;
    height: 60px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    align-self: flex-start;
  }

  .logoFCEmobile {
    display: flex;
    float: right;
    height: 60px;
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
    align-self: flex-end;
  }
}

@media (max-width: 400px) {
  .FormRegister .Form {
    margin-top: 50px;
  }
  .Container-Img {
    margin-top: 20px;
  }
  .Logo {
    height: 100px;
  }

  .Form {
    display: flex;
    align-items: center;
  }

  .phoneNumber,
  .email,
  .password {
    width: 250px;
    height: 45px;
  }

  .blue-btn,
  .yellow-btn {
    width: 250px;
    height: 45px;
  }
  .forgotPassword {
    margin-bottom: 0;
  }
}

/*iPad Pro*/
@media (width: 1024px) and (height: 1366px) {
  .FormRegister {
    width: 50%;
  }
}
