.grid-container {
	display: grid;
	grid-template-areas: 
		'carnet carnet carnet'
		'foto nombre ruta'
		'foto comentario comentario';
	gap: 8px;
}
.grid-container > div {
  background-color: rgba(#2196F3, 0.4);
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}
.carnet {
	grid-area: carnet;
}
.foto {
	grid-area: foto;
}
.nombre {
	grid-area: nombre;
}
.ruta {
	grid-area: ruta;
}
.comentario {
	grid-area: comentario;
}