.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}
.Button {
  width: 100%;
  margin-bottom: 20px;
}
.carta {
  margin-top: 20px;
}
.grid-container {
  padding: 8px;
  display: grid;
  grid-template-areas:
    "carnet carnet carnet carnet"
    "foto foto nombre ruta"
    "foto foto comentario comentario";
}
.grid-container > div {
  background-color: rgba(#2196f3, 0.4);
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}
.carnet {
  grid-area: carnet;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  color: #4caf50;
}
.foto {
  grid-area: foto;
  border-radius: 50%;
  background-color: #dddbdb;
  background-image: url("../../assets/images/user.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 117.97px;
  height: 120px;
}
.nombre {
  grid-area: nombre;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.ruta {
  grid-area: ruta;
}
.comentario {
  padding: 0 !important;
  grid-area: comentario;
}
