.grid-container-offer {
  padding: 8px;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "fotoConductor nombreConductor cohorteConductor"
    "fotoConductor carreraConductor rutaConductor";
}

.grid-container-offer > div {
  background-color: rgba(#2196f3, 0.4);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.fotoConductor {
  grid-area: fotoConductor;
  justify-self: center;
}

/*
.fotoConductor {
  grid-area: fotoConductor;
  border-radius: 50%;
  background-color: #dddbdb;
  background-position: center;
  background-repeat: no-repeat;
  width: 117.97px;
  height: 120px;
  justify-self: center;
}
*/

.titulo {
  grid-area: titulo;
  font-style: normal;
  font-weight: bold;
}

.nombreConductor {
  grid-area: nombreConductor;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  /* font-size: 18px; */
}

.cohorteConductor {
  grid-area: cohorteConductor;
}

.carreraConductor {
  grid-area: carreraConductor;
}

.rutaConductor {
  grid-area: rutaConductor;
}

.cohorteConductor,
.carreraConductor,
.rutaConductor {
  font-size: normal;
  font-weight: bold;
}

.cohorteConductor span,
.carreraConductor span,
.rutaConductor span {
  font-weight: normal;
}

@media (max-width: 425px) {
  .grid-container-offer {
    grid-template-areas:
      "titulo titulo titulo"
      "fotoConductor nombreConductor cohorteConductor"
      "carreraConductor carreraConductor rutaConductor"
      "pasajeros pasajeros pasajeros";
  }

  .fotoConductor {
    width: 90px;
    height: 90px;
  }

  .titulo {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .nombreConductor {
    font-size: 15px;
  }

  .cohorteConductor,
  .carreraConductor,
  .rutaConductor,
  .pasajeros {
    font-size: 12px;
    margin-top: 5px;
  }
}
