input {
  border-radius: 10vh;
  padding: 8px 8px 8px 35px;
  margin-bottom: 10px;
  border: solid 2px #ffffff;
  background-color: transparent;
  color: white;
  font-weight: bold;
  width: 30vw;
  height: 8vh;
  letter-spacing: 0.6px;
}

input::placeholder {
  color: #ffffff;
  font-size: 2vh;
}

@media (max-width: 1366px) {
  input {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  input {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  input {
    width: 350px;
  }
}

@media (max-width: 320px) {
  input {
    width: 300px;
  }
}
