input{
  border-radius: 10vh !important;
  padding: 8px 8px 8px 35px;
  margin-bottom: 5px;
  border: solid 2px #ffffff !important;
  background-color: transparent !important;
  color: white !important;
  font-weight: bold !important;
  width: 30vw;
  height: 8vh;
  letter-spacing: .6px !important;
}

input::placeholder{
  color: #ffffff !important;
  font-size: 2vh;
}

@media (max-width: 768px) {
  input {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  input {
    width: 350px;
  }
}

@media (max-width: 320px) {
  input {
    width: 300px;
  }
}
