.InputSign {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 8px 8px 35px;
  margin-bottom: 5px;
  background-color: transparent !important;
  color: white !important;
  font-weight: bold !important;
  width: 30vw;
  height: 8vh;
  letter-spacing: 0.6px !important;
}

.InputSign::placeholder {
  color: #ffffff !important;
  font-size: 2vh;
}

@media (max-width: 1366px) {
  .InputSign {
    width: 30vw;
  }
}

@media (max-width: 1024px) {
  .InputSign {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .InputSign {
    width: 40vw;
  }
}

@media (max-width: 425px) {
  .InputSign {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .InputSign {
    width: 250px;
  }
}

/*iPad Pro*/
@media (width: 1024px) and (height: 768px) {
  .InputSign {
    width: 350px;
  }
}
